<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <h1 class="section__title">STABLEDIFFUSION</h1>

    <div class="section__input" onsubmit="submitImage(); return false">
        <form method="POST">
            <div class="form-group">
                <input class="form-group__input" type="text" id="description" name="description" placeholder="TYPE HERE YOUR DESCRIPTION">
            </div>
        
            <input class="form-button" type="submit" value="Generate" style="display: none;">
        </form>
        <img src='' class="section__image"/>
        <h2 class="section__image__desc"></h2>
    </div>

    <div class="wrapper">
        <div class="section__download"><h3>DOWNLOAD</h3></div>
        <a href="/" class="section__tryagain"><h3>TRY AGAIN</h3></a>
    </div>
    
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
</body>
</html>